body {
  margin-top: 50px;
  background-color: whitesmoke;
}
h1 {
  display: flex;
  justify-content: center;
}
main {
  display: flex;
  justify-content: center;
}
header,
footer {
  border: 5px solid white;
  margin: 10px;
  width: 200px;
  height: 300px;
  position: relative;
}
div {
  width: 200px;
  height: 100px;
  background-color: white;
  position: absolute;
  top: 30px;

  display: flex;
  align-items: center;
}
header:first-child {
  background-color: tomato;
}
header:last-child {
  background-color: teal;
}
footer:first-child {
  background-color: burlywood;
}
footer:last-child {
  background-color: thistle;
}
